body {
	font-family: 'Fira Sans', sans-serif;
	color: #8D8D8D;
	font-size: 18px;
}

button {
	display: block;
	border: none;
	background: transparent;
}

button, button:active, button:focus {
    outline: none;
}

ul, li {
	display: block;
	padding: 0;
	margin: 0;
}

.vh-dependent {
	height: 35vh;
	display: flex;
    align-items: center;
}

.be-static {
	position: static;
}

h1, h2, h3, h4, h5, h6 {
	font-style: normal;
	font-weight: 700;
	color: #151515;
	margin: 0;
	padding: 0;
}

h2 {
	font-size: 38px;
}

h3 {
	font-size: 22px;
}

.btn {
	background: #4737FF;
	color: #fff;
	text-transform: uppercase;
	font-weight: 500;
	font-size: 14px;
	padding: 13px 26px;
	display: inline;
	border-radius: 0;
	letter-spacing: 0.3em;
	text-align: center;
	transition: all 0.5s ease;
}

.btn:hover {
	background: #f44edf;
	color: #fff;
	box-shadow: 0 25px 45px rgba(73,198,173,0.4);
	
}

.header {
	height: 95vh;
}

/*nav*/
.nav {
	padding-top: 59px;
	margin-bottom: 127px;
}

.header-svg {
	opacity: 1;
}

.header-svg:hover, .header-svg:active {
	opacity: 0.3;
	transition: all 0.4s ease;
}
/*end nav*/

/*offer*/
.offer-cont__title {
	font-size: 60px;
	letter-spacing: -0.01em;
	line-height: 1.2em;
}

.offer-cont__title:hover {
	animation: jello_animation 3s ease 1;
}

.offer-cont__text {
	margin: 30px 0 56px;
}

.hero {
	background: url('../img/img1.jpg') no-repeat right top;
	background-size: 80% 100%;
	width: 55%;
	height: 80vh;
	position: absolute;
    right: 0;
    top: 142px;

}

.hero:hover{
	animation: shake_animation 3s ease 1;
}

.video {
	position: absolute;
	left: 0;
	bottom: 20%;
	width: 40%;
	height: 33%;
	display: block;
	background: url('../img/video.jpg') no-repeat center center;
	display: flex;
    justify-content: center;
    align-items: center;
    transition: all 4s ease;    
}

.video:hover{
	animation: rotate_animation 1.5s 1;
}

.video:after {
	content:'';
	display: block;
	width: 65px;
	height: 65px;
    opacity: 0;
    
}

.video:hover:after {
	background: url(../img/play.svg)no-repeat center center;
    opacity: 1;
    transition: 2s ease;
}
/*end offer*/

/*problems*/
.problems {
	padding-top: 137px;
}

.about__title {
	margin-bottom: 30px;
}

.about__title:hover{
    animation: swing_animation 2s linear 1;
}

.poster:hover {
	animation: shake_animation 3s linear infinite;
}

.about__author {
	background: url('../img/author.jpg') no-repeat left center;
	padding: 7px 0 7px 96px;
	margin-top: 61px;
	transition: all 0.5s ease;
}

.about__author:hover {
	opacity: 0.7;
}

.about__name {
	font-size: 22px;
	transition: all 0.5s ease;
}

.about__name:hover,.about__name:focus{
	color:#878789;
	transform: scale(1.02);
}

.about__dop {
	margin-bottom: 0;
	transition: all 0.5s ease;
}

.about__dop:hover{
	color:#68686c;
	transform: scale(1.02);  
}
/*end problems*/

/*services*/
.services {
	padding-top: 142px;
}

.section-title__label {
	text-transform: uppercase;
	font-size: 14px;
	letter-spacing: 0.25em;
	color: #8F8F8F;
	margin-bottom: 40px;
	transition: all .5s ease;
}

.section-title__label:hover {
	color:#000;
	font-weight: bold;
}

.serv-list {
	color: #8D8D8D;
	margin-top: 67px;
}

.serv-list__item {
	margin-bottom: 20px;
	transition: all 1s ease;
}

.serv-list__item:hover{
	color:#000;
	background:#d9d9de;
	
}

.serv-list_left {
	margin-left: 37px;
}

.works-carousel {
	margin-top: 99px;
}

#scr {
	margin:20px auto;
	width: 825px;
	height: 500px;
	margin-top:20px;
	transition: all 2s ease;
}

.works-carousel .arrow-nav {
	margin-top: 50px !important;
	
}

.works-carousel .arrow-prev {
	margin-right: 25px !important;
	
}
.arrow-nav {
	opacity: 0.5;
	
}

.arrow-nav:hover {
	opacity: 1;
	-webkit-transform: scale(1.1);
	-ms-transform: scale(1.1);
	transform: scale(1.1);  
	transition: all 1s ease; 
}
/*end services*/

/*result*/
.collage {
	padding-top: 219px;
	width: 50%;
	height: 540px;
	background: url('../img/img6.jpg') no-repeat left top / 80% 70%;
	position: absolute;
	left: 0;
}
.collage:hover{
	animation: shake-right_animation 3s ease 1;
}
.collage img {
	display: block;
	width: 350px;
	height: 453px;
	position: absolute;
	right: 0;
	bottom: 0;
	box-shadow: 30px 80px 130px rgba(0,0,0,0.25);
	animation: run_animation 5s ease infinite; 
}
		 
.collage img:hover {
	animation-play-state: paused;
}

.result {
	padding-top: 219px;
}

.easy {
	margin-left: 65px;
	margin-top: 30px;
}

.easy__title {
	margin-bottom: 30px;
}
.easy__title:hover{
	animation: swing_animation 2s linear 1;
}

.easy__text {
	margin-bottom: 52px;
}

.easy__point {
	padding-left: 83px;
	text-transform: uppercase;
	letter-spacing: 0.3em;
	color: #000;
	font-weight: 500;
	font-size: 14px;
	padding-top: 20px;
	padding-bottom: 20px;
	margin-bottom: 25px;
	transition: all 0.8s ease;
}

.easy__point:hover {
	opacity: 0.4;
	color:#1e23ef;	
}

.easy__point_first {
	background: url('../img/icon100.svg') no-repeat left center;
}

.easy__point_second {
	background: url('../img/bag.svg') no-repeat left center;
}
/*end result*/

/*works tabs*/
.works {
	padding-top: 283px;
}

.work-tabs {
	margin-left: 60px;
	font-size: 14px;
	text-transform: uppercase;
	letter-spacing: 0.3em;
	margin-top: 70px;
}

.work-tabs__item a {
	text-decoration: none;
	color: #8D8D8D;
	transition: all 0.8s ease;
}

.work-tabs__item a:hover {
	color: #1434E1;
	font-weight: bold;
}

.works-wrap {
	flex-wrap: wrap;
	margin-top: 108px;
}

.works-wrap__item {
	margin-bottom: 30px;
	display: block;
	position: relative;
	transition: all 2s ease;
}

.works-wrap__item img {
	transition: all 2s ease;
	display: block;
	
}

.works-wrap__item:hover img {
	box-shadow: -30px 80px 200px rgba(0,0,0,0.25);
	-moz-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	-o-transform: scale(1.1);
	-ms-transform: scale(1.1);
	transform: scale(1.1);
}

.works-wrap__item:after{
    content:'';
	display: block;
	width: 65px;
	height: 65px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -32px;
	margin-top: -32px;
	opacity: 0;
   
}

.works-wrap__item:hover:after {
	background: url(../img/play.svg);
	opacity: 1;
    transition: 2s ease;
}

.tabs__content {
	display: none !important; /* hide all blocks by default */
}

.tabs__content.active {
	display: flex !important;  /* show the desired block by default */
}
/*end work tabs*/

/*testimonials*/
.testimonials {
	padding-top: 248px;
}

.section-title__heading_review {
	font-size: 20px;
	transition: all 1s ease;
}

.section-title__heading:hover {
	animation: swing_animation 2s linear 1;
}

.contributor {
	margin-top: 121px;
}

.contributor:hover{
	animation: jello_animation 2s ease 1;
}

.contributor__title {
	margin-bottom: 10px;
}

.cont-photo {
	display: block;
	
}

.contributor-carousel .arrow-nav {
	display: flex;
	margin-top: -50px;
	position: relative;
}

.contributor-carousel .arrow-prev {
	margin-right: 25px;
}
/*end testimonials*/

/*clients*/
.clients {
	padding-top: 278px;
}

.clients-row {
	margin-top: 127px;
	transition: all 2s ease;
}
.clients-row img {
	transition: all 0.8s ease;
}

.clients-row img:hover {
	animation: pulsing_animation 2s linear infinite;
}
/*end clients*/

/*footer*/
.footer {
	height: 240px;
	background: #515151;
	margin-top: 136px;
}

.footer-logo {
	margin-top: 109px;
	margin-bottom: 109px;
	transition: all 1s ease;
}

.footer-logo:hover {
	-moz-transform: scale(1.2);
	-webkit-transform: scale(1.2);
	-o-transform: scale(1.2);
	-ms-transform: scale(1.2);
	transform: scale(1.2);
}
/*end footer*/

/*media*/
@media screen and (max-width: 1200px) {
	.work-tabs {
		margin-left: 0;
	}
	.works-wrap__item {
		width: 30%;
	}

	.works-wrap__item img {
		display: block;
		width: 100%;
	}
	.contributor {
		margin-top: 50px;
	}
	#scr {
   		width: 100%;
   		height: 80vh;
	}
}

@media screen and (min-width: 992px) {
	.works-carousel .item {
		width: 825px !important;
		position: relative;
	}
}

@media screen and (max-width: 720px) {
	.hero {
		position: relative;
	    width: 100%;
	    height: 200px;
	    top: 0;
	    margin-top: 60px;
	}
	.vh-dependent {
	    height: auto;
	    display: flex;
	    align-items: center;
	}
	.about {
		margin-top: 60px;
	}
	.collage {
		position: relative;
    	width: 100%;
	}
	.easy {
		margin-left: 0;
		margin-top: 110px;
	}
	.contributor-carousel .arrow-nav {
		margin-top: 40px;
	}
	#scr {
   		width: 100%;
   		height: 80vh;
	}
}

@media screen and (max-width: 576px) {
	.serv-list_left {
		margin-left: 0;
	}
	.works-wrap__item {
		width: 100%;
		margin-bottom: 40px;
	}
	.clients-row {
		flex-direction: column;
	}
	.clients-row__item {
		margin-bottom: 70px;
		text-align: center;
	}
	.work-tabs {
		flex-direction: column
	}
	.work-tabs__item {
		margin-bottom: 40px;
	}
	#scr {
   		width: 100%;
   		height: 80vh;
	}
}
/*end media*/

/*keyframes*/
@keyframes pulsing_animation {
  25% {
    -webkit-transform: scale(1.2, 1.2);
    transform: scale(1.2, 1.2);
  }

  50% {
    -webkit-transform: scale(1.3, 1.3);
    transform: scale(1.3, 1.3);
  }
  75% {
    -webkit-transform: scale(0.8, 0.8);
    transform: scale(0.8, 0.8);
  }

  100% {
    -webkit-transform: scale(1.0, 1.0);
    transform: scale(1.0, 1.0);
  }
}

@keyframes rotate_animation {
  0% {
  	-webkit-transform: rotate(180deg);
  	transform: rotate(180deg);
  }
  100% {
  	-webkit-transform: rotate(0deg);
   	transform: rotate(0deg);
  }
}

@keyframes shake_animation {
  50% {
  	-webkit-transform: translateX(-30px); 
    transform: translateX(-30px);     
  }
  100% {
  	-webkit-transform: translateZ(-30px);
    transform: translateZ(-30px);     
  }
}

@keyframes shake-left_animation {
  50% {
  	-webkit-transform: translateX(-30px);
    transform: translateX(-30px);     
  }
  100% {
  	-webkit-transform: translateX(-30px);
    transform: translateX(-30px);     
  }
}

@keyframes shake-right_animation {
  50% {
  	-webkit-transform: translateX(30px);
    transform: translateX(30px);     
  }
  100% {
  	-webkit-transform: translateX(30px); 
    transform: translateX(30px);     
  }
}

@keyframes run_animation {
  0% {
  	-webkit-transform: translate(0%);
    transform: translate(0%);
    border-radius: 10%;
  }
  30% {
  	-webkit-transform: translate(-50%) scale(0.8); 
    transform: translate(-50%) scale(0.8); 
    border-radius: 0%;
  }
  60% {
  	-webkit-transform: translate(-50%) scale(0.8); 
    transform: translate(-30%, -30%);
    border-radius: 10%; 
  } 
}

@keyframes swing_animation {
  20% {
    -webkit-transform: rotate3d(0, 0, 1, 10deg);
    transform: rotate3d(0, 0, 1, 10deg);
  }

  40% {
    -webkit-transform: rotate3d(0, 0, 1, -5deg);
    transform: rotate3d(0, 0, 1, -5deg);
  }

  60% {
    -webkit-transform: rotate3d(0, 0, 1, 2deg);
    transform: rotate3d(0, 0, 1, 2deg);
  }

  80% {
    -webkit-transform: rotate3d(0, 0, 1, -2deg);
    transform: rotate3d(0, 0, 1, -2deg);
  }

  to {
    -webkit-transform: rotate3d(0, 0, 1, 0deg);
    transform: rotate3d(0, 0, 1, 0deg);
  }
}

@keyframes jello_animation {
  from,
  11.1%,
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  22.2% {
    -webkit-transform: skewX(-12.5deg) skewY(-12.5deg);
    transform: skewX(-12.5deg) skewY(-12.5deg);
  }

  33.3% {
    -webkit-transform: skewX(6.25deg) skewY(6.25deg);
    transform: skewX(6.25deg) skewY(6.25deg);
  }

  44.4% {
    -webkit-transform: skewX(-3.125deg) skewY(-3.125deg);
    transform: skewX(-3.125deg) skewY(-3.125deg);
  }

  55.5% {
    -webkit-transform: skewX(1.5625deg) skewY(1.5625deg);
    transform: skewX(1.5625deg) skewY(1.5625deg);
  }

  66.6% {
    -webkit-transform: skewX(-0.78125deg) skewY(-0.78125deg);
    transform: skewX(-0.78125deg) skewY(-0.78125deg);
  }

  77.7% {
    -webkit-transform: skewX(0.390625deg) skewY(0.390625deg);
    transform: skewX(0.390625deg) skewY(0.390625deg);
  }

  88.8% {
    -webkit-transform: skewX(-0.1953125deg) skewY(-0.1953125deg);
    transform: skewX(-0.1953125deg) skewY(-0.1953125deg);
  }
}
/*end keyframes*/